* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 1em;
}

code {
    background-color: #555;
    border-radius: 4px;
    color: white;
    display: block;
    padding: 0.5em;
}

img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
}

span.inline-code {
    background-color: #888;
    border-radius: 4px;
    color: white;
    font-family: monospace;
    padding: 0.25em;
}

/* SANDBOX STYLES */

#sandbox {
    padding: 1em;
    background-color: beige;
    margin-top: 1em;
    border-radius: 8px;
}

.text-green {
    color: green;
}

.bg-yellow {
    background-color: yellow;
}